<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_story.user_id %>
</p>

<p>
  <strong>Story:</strong>
  <%= @user_story.story_id %>
</p>

<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Back', user_stories_path %>
