<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @micropost.STORY %>
</p>

<p>
  <strong>Sent1:</strong>
  <%= @micropost.sent1 %>
</p>

<p>
  <strong>Sent2:</strong>
  <%= @micropost.sent2 %>
</p>

<p>
  <strong>Sent3:</strong>
  <%= @micropost.sent3 %>
</p>

<p>
  <strong>Sent4:</strong>
  <%= @micropost.sent4 %>
</p>

<p>
  <strong>Sent5:</strong>
  <%= @micropost.sent5 %>
</p>

<p>
  <strong>Sent6:</strong>
  <%= @micropost.sent6 %>
</p>

<p>
  <strong>Sent7:</strong>
  <%= @micropost.sent7 %>
</p>

<p>
  <strong>Sent8:</strong>
  <%= @micropost.sent8 %>
</p>

<p>
  <strong>Sent9:</strong>
  <%= @micropost.sent9 %>
</p>

<p>
  <strong>Sent10:</strong>
  <%= @micropost.sent10 %>
</p>

<p>
  <strong>Sent11:</strong>
  <%= @micropost.sent11 %>
</p>

<p>
  <strong>Sent12:</strong>
  <%= @micropost.sent12 %>
</p>

<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>
